.sensorItems{
    column-gap: 25px;
    row-gap: 25px;
}
.sensorItem{
    display: flex;
    padding: 20px;
    border: 1px solid #555;
    background-color: #555;
    border-radius: 20px;
    margin-bottom: 30px;
}
img {
    border-radius: 10px;
    width: 50%;
    height: 50%;
}
.textWrapper{
    padding: 0px 15px 0px 15px;
    font-size: 14px;
}

